.section4{
    text-align: center;
    
.wraper{
    overflow: hidden;
    position: relative;
    height: 590px;
    margin-top: 143px;
    margin-bottom: 68px;
    padding: 0 65px;
}

a{
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    &:hover .iconica-strelica{
        animation: strelica-levo-desno 0.4s forwards 3;
      }
}

.iconica-strelica{
    margin-left: 15px;
}

.imageSec4{
    background-image: url('../assets/img/cikasabradom.jpg') ;
    //background-color: #cccccc; /* Used if the image is unavailable */
    height: 580px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
  
    .rollRed{
       position: absolute;
       top:0;
       left:0;
       right: 0;
       bottom:0px;  
        background-color: $color-text-red;
        z-index: 22;
        animation: rollingRed 2s forwards;

    }

    .rollGray{
        position: absolute;
        top:0;
        left:0;
        right: 0;
        bottom:0;
         background-color: $color-gray;
         z-index: 15;
     }

     .rollGrayAnim{
        position: absolute;
        top:0;
        left:0;
        right: 0;
        bottom:0;
        
         background-color: $color-gray;
         z-index: 15;
          animation: rollingGray 2s forwards;
 
     }

    .head-p{
        width: 750px;
        margin: 0 auto;
        font-size: 1.2rem;
        margin-bottom: 78px;
    }

    h2{
        @include font-size(3.2);
        margin-bottom: 28px;
    }

    h3{
        @include font-size(3.2);
        margin-bottom: 22px;
    }

    p{
        color:$color-gray;
        @include font-size(1.4);
       
    }
 
    a{
        font-size: 1.1rem;
        text-decoration: none;
        color:$color-text-red;
        margin-bottom: 20px;
       
    }

    .iconsRow{
       padding: 0 118px;
    }

    .iconsCol{
        padding-right: 30px;
       
    }

.bottomRow{
    color:$color-text-red;
    border-top: 1px solid gray;
    padding: 33px;
    
   a{@include font-size(1.8);}
}

}

.iconica-strelica{
    width: 10px;
    height: 10px;
    fill:$color-text-red;
}

.iconica-crvena{
    width: 120px;
    fill:$color-text-red;
}

.lizing{
    height: 85px;
    margin-bottom: 50px;
}
.osiguranje{
    height: 80px;
    margin-bottom: 50px;
}

.registracija{
    height: 85px;
    margin-bottom: 50px;
}

@keyframes rollingRed{
    0%{     
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

@keyframes rollingGray{
    0%{     
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}