.section5 {
    padding-top: 50px;
    padding-left: 90px;

    .wraper3{
        animation: movingUp 0.6s forwards;
        margin-top: 330px;
    }

    a {
        display: block;
        @include font-size(1.8);
        text-decoration: none;
        color: $color-text-red;
        margin-bottom: 114px;
    }

    p{  @include font-size(1.8); }

    h1 { @include font-size(4.2);
        color: $color-gray-dark; }


    // .wraper2{
    //     overflow: hidden;
    //     position: relative;
    //       margin-top: 143px;
    //         margin-bottom: 68px;
    // }

    img {
        margin-top: 264px;
        width: 960px;
        padding-bottom: 20px;
    }

    .imageDiv{
        background-image: url('../assets/img/sittingpeople1.jpg') ;
    //background-color: #cccccc; /* Used if the image is unavailable */
    height: 880px; /* You must set a specified height */
    background-position: bottom; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 900px 700px; /* Resize the background image to cover the entire container */
    }

    .redBox2 {
        position: absolute;
        top: 70px;
        left: 290px;
        width: 865px;
        height: 375px;
        background-color: red;
        z-index: -1;
        animation: rollingRed2 2s forwards;
    }

    .rollGray2{
        position: absolute;
        top:15.5%;
        left:15px;
        right:-122px;
        bottom:21%;
         background-color: $color-gray;
         z-index: 15;
     }
     .rollGrayAnim2{
        position: absolute;
        top:15.5%;
        left:15px;
        right:-122px;
        bottom:21%;
         background-color: $color-gray;
         z-index: 15;
          animation: rollingGray2 2s forwards;
     }

    .iconica-strelica {
        width: 10px;
        height: 10px;
        fill: red;
    }

    .main-p {
        width: 765px;
        @include font-size(1.8);
    }
}


@keyframes rollingRed2{
    0%{  transform: translateX(130%); }
    100%{ transform: translateX(0); }
}

@keyframes rollingGray2{
    0%{ right:-122px; }
    100%{ right:1199px; }
}

@keyframes movingUp {
    0%{  opacity: 0;
         transform: translateY(100px); }
    100%{ opacity: 1;
          transform: translateY(0); }
}